body
{background-color: black}
h1 {color: rgb(236, 172, 172);}
h2 {color: yellow;}
h3 {color:blue}
h4 {color: rgb(76, 166, 245)}
h5 {color:rgb(150, 228, 228)}
p {color: white;}
ul {color: white;}
button {color: orangered;}